Repository hadnet/react-native-layouts: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

fix: s
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: package resolutions
  package-lock.json
  package.json
  yarn.lock
Due: none

feat(a): kjj
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: fix typo in Flex
  package-lock.json
  package.json
  src/components/Layout/Flex/Flex.tsx
  yarn.lock
Due: lint

feat: ka
  CHANGELOG.md
  package.json
Due: none

build: set public
  package.json
Due: none

refactor: reorg Overlay
  CHANGELOG.md
  src/components/Base/Overlay.tsx
  src/components/index.tsx
  src/components/types/index.ts
Due: lint, types

feat: chore: release 0.1.0-rc.0
  CHANGELOG.md
  package.json
Due: none

fix: remove fluid prop in children and add z prop in VStack
  README.md
  example/src/App.tsx
  src/components/Layout/VStack/VStack.tsx
Due: lint

feat: chore
  CHANGELOG.md
  package.json
Due: none

refactor: 🔧 improve position names prop and add align prop
  example/src/App.tsx
  src/components/Layout/VStack/VStack.tsx
  src/components/types/index.ts
  src/components/utils/index.ts
Due: lint, types

feat: aaaaaa
  CHANGELOG.md
  package.json
Due: none

feat: release 0.1.0-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: release 0.1.0-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: feat: release 0.1.0-beta.2
  CHANGELOG.md
  package.json
Due: none

build: set public prop to true
  package.json
Due: none

refactor: reorg Overlay component
  CHANGELOG.md
  src/components/Base/Overlay.tsx
  src/components/index.tsx
  src/components/types/index.ts
Due: lint, types

feat: release 0.1.0-rc.0
  CHANGELOG.md
  package.json
Due: none

feat: feat: release 0.1.0-rc.1
  CHANGELOG.md
  package.json
Due: none

refactor: improve position names prop and add align prop
  example/src/App.tsx
  src/components/Layout/VStack/VStack.tsx
  src/components/types/index.ts
  src/components/utils/index.ts
Due: lint, types

feat: feat: release 0.1.0-rc.2
  CHANGELOG.md
  package.json
Due: none

fix: 🐛 add center prop to Overlay & add bleed, wfull, hfull to ZStack
  src/components/Base/Overlay.tsx
  src/components/Layout/Float/Float.tsx
  src/components/types/index.ts
Due: lint, types

feat: :wq
  CHANGELOG.md
  package.json
Due: none

feat: release 0.1.0-rc.3
  CHANGELOG.md
  package.json
Due: none

fix: add types bleed, wfull & hfull to ZStack
  src/components/Layout/Float/Float.types.ts
Due: lint, types

style: ;5u
  CHANGELOG.md
  package.json
Due: none

chore: release 0.1.0-rc.4
  CHANGELOG.md
  package.json
Due: none

chore: cleanup Float
  src/components/Layout/Float/Float.tsx
Due: lint

fix: remove typeof
  src/components/Layout/Float/Float.tsx
Due: lint

feat: y
  CHANGELOG.md
  package.json
Due: none

refactor: 🧰 replace x/y for spaceX/Y props in Spacer; add top,left,right,bottom props to ZStack
  example/src/App.tsx
  src/components/Layout/Float/Float.tsx
  src/components/Layout/Float/Float.types.ts
  src/components/Layout/Spacer/Spacer.tsx
  src/components/Layout/Spacer/Spacer.types.ts
  src/components/Layout/ZStack/ZStack.tsx
  src/components/Layout/ZStack/ZStack.types.ts
Due: lint, types

feat: : release 0.1.0-rc.6
  CHANGELOG.md
  package.json
Due: none

refactor: 🧰 rename Tiles to Grid add new props; deprecate space for gap prop in Stack components
  README.md
  example/src/App.tsx
  src/components/Layout/Grid/Grid.tsx
  src/components/Layout/Grid/Grid.types.ts
  src/components/Layout/Tiles/Tiles.types.ts
  src/components/Layout/VStack/VStack.tsx
  src/components/Layout/VStack/VStack.types.ts
  src/components/Layout/ZStack/ZStack.tsx
  src/components/Layout/ZStack/ZStack.types.ts
  src/components/index.tsx
Due: lint, types

feat(chore: release 0.1.0-rc.7): chore: release 0.1.0-rc.7
  CHANGELOG.md
  package.json
Due: none

refactor: rename full to fill ZStack prop
  src/components/Layout/ZStack/ZStack.tsx
  src/components/Layout/ZStack/ZStack.types.ts
Due: lint, types

feat: release 0.1.0-rc.8
  CHANGELOG.md
  package.json
Due: none

fix: swap width for height
  src/components/Base/Box.tsx
Due: lint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
