Repository hadnet/react-native-layouts: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit
prepare-commit-msg:
  commands:
    commitizen:
      interactive: true
      run: LEFTHOOKS=0 npx cz --hook || true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat: release 0.1.0-rc.9
  CHANGELOG.md
  package.json
Due: none

feat: add gap prop to Box
  src/components/Base/Box.tsx
  src/components/types/index.ts
Due: lint, types

feat: release 0.1.0-rc.10
  CHANGELOG.md
  package.json
Due: none

feat: add gap prop to Spacer
  src/components/Layout/Spacer/Spacer.tsx
  src/components/Layout/Spacer/Spacer.types.ts
Due: lint, types

feat: release 0.1.0-rc.11
  CHANGELOG.md
  package.json
Due: none

fix: add gap prop type
  src/components/Layout/HStack/HStack.types.ts
Due: lint, types

fix: release 0.1.0-rc.12
  CHANGELOG.md
  package.json
Due: none

refactor: 🧰 add gap prop to Split and custom ratios
  src/components/Layout/Split/Split.tsx
  src/components/Layout/Split/Split.types.ts
Due: lint, types

docs: release 0.1.0-rc.13
  CHANGELOG.md
  package.json
Due: none

fix: add array type to Split ratio prop
  src/components/Layout/Split/Split.types.ts
Due: lint, types

feat(release 0.1.0-rc.14): release 0.1.0-rc.14
  CHANGELOG.md
  package.json
Due: none

fix: 🐛 fix height measure on horizontal separator
  src/components/Base/Separator.tsx
Due: lint

feat: release 0.1.0-rc.15
  CHANGELOG.md
  package.json
Due: none

fix: 🐛 vertical gap in vertical separator
  src/components/Base/Separator.tsx
Due: lint

feat: release 0.1.0-rc.16
  CHANGELOG.md
  package.json
Due: none

fix: split between prop; flexDirection row of Grid container
  src/components/Layout/Grid/Grid.tsx
  src/components/Layout/Split/Split.tsx
Due: lint

test: :wq
  CHANGELOG.md
  package.json
Due: none

feat: release 0.1.0-rc.17
  CHANGELOG.md
  package.json
Due: none
